data/processed/manhattan_buildings.json filter=lfs diff=lfs merge=lfs -text
data/processed/manhattan_network.json filter=lfs diff=lfs merge=lfs -text
data/raw/manhattan_osm_buildings.json filter=lfs diff=lfs merge=lfs -text
